
$default-red: #FF3300;
$default-orange: #FF6600;
$default-bright_yellow: #FFFF00;
$default-lime_green: #80FF80;
$default-electric_blue: #0099FF;
$default-bright_pink: #FF0066;
$default-purple: #9900CC;



$default-coral: #FF5050;
$default-peach: #FFCCCC;
$default-light_pink: #FFD6EB;
$default-lavender: #F0F0FF;
$default-mint: #99FFCC;
$default-light_yellow: #FFFFCC;
$default-sky_blue: #ADEBFF;



$default-steel_blue: #666699;
$default-dark_yellow: #FFDB00;
$default-dark_orange: #F79C75;
$default-forest_green: #316747;
$default-plum: #573E6C;
$default-maroon: #6D0A02;
$default-light_yellow: #FFFFCC;
$default-sky_blue: #ADEBFF;

$default-tan: #FBCEBA;
$default-dark_yellow: #FFDB00;
$default-dark_orange: #FFA969;
$default-forest_green: #316747;
$default-plum: #573E6C;
$default-maroon: #6D0A02;
$default-light_yellow: #FFFFCC;
$default-grey: #BDBDBD;



