


$default-fun_font1: PT Sans;
$default-fun_font2: Papyrus;
$default-fun_font3: Palatino, sans-serif;
$default-fun_font4: Comic Sans MS, sans-serif;
$default-fun_font5: Monaco, sans-serif;
$default-fun_font6: Impact, sans-serif;
$default-fun_font7: Cursive, sans-serif;